/*--------------------- colors ----------------------*/
:root {
  --main-bg: #dedede;
  --main-accent: #347be4;

  --navbar-bg: #f8f8f8;
  --navbar-text: #000000;
  --navbar-links: #686868;
  --navbar-link-h: #000000;

  --sidenav-bg: #eae9e9;
  --sidenav-menu-bg: #f2f2f2;
  --sidenav-menu-text: #222222;
  --sidenav-menu-hover: #000000;
  --sidenav-copyright: #7e7e7e;

  --card-bg: #ffffff;
  --card-text: #000000;
}

/*------------------- typography ----------------------*/

header h1 {
  font-size: clamp(13px, 3vw, 36px);
}
header a {
  font-size: clamp(10px, 2vw, 24px);
}
.menu a {
  font-size: clamp(12px, 1.5vw, 17px);
}
nav footer {
  font-size: clamp(11px, 1vw, 16px);
}
article h1 {
  font-size: clamp(24px, 3vw, 48px);
}
article p {
  font-size: clamp(13px, 2vw, 19px);
  line-height: clamp(19px, 2vw, 24px);
}

/*--------------------- body -----------------------*/

* {
  box-sizing: border-box;
}

body {
  font-size: 16px;
  overflow: hidden;
  font-family: "Inter", sans-serif;
  height: 100vh;
  margin: 0;
  padding: 0;
  background: var(--main-bg);
}

p {
  font-family: "Rosario", sans-serif;
}

.flexbox-container {
  display: flex;
  flex-flow: row wrap;
  height: 88%;
}

/*-------------------- header ----------------------*/

header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: var(--navbar-bg);
  height: 12%;
}

header h1 {
  /* tittle */
  color: var(--navbar-text);
  font-weight: bold;
}

header a {
  /* top right links */
  padding: 0 3vw 0 0;
  font-weight: bold;
  color: var(--navbar-links);
  text-decoration: none;
  cursor: pointer;
}
header a:last-child {
  padding: 0;
}

header a:hover {
  color: var(--navbar-link-h);
}

/*--------------------- sidenav --------------------*/

nav {
  flex: 24%;
  background: var(--sidenav-bg);
}

.container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  height: 100%;
}

.menu {
  width: 100%;
  padding: 0;
  margin: 0;
}

.menu a {
  /* menu item */
  display: flex;
  align-items: center;
  padding: 13px 16px 13px 44px;
  height: clamp(30px, 4.5vw, 80px);
  background: var(--sidenav-menu-bg);
  color: var(--sidenav-menu-text);
  text-decoration: none;
  cursor: pointer;
}
.menu a:hover {
  border: 2px solid var(--main-accent);
  color: var(--sidenav-menu-hover);
}

.menu img {
  /* icons */
  margin: 0px 16.5px;
  width: auto;
  height: 1.8em;
  align-self: center;
}

nav footer {
  /* credits */
  align-self: flex-end;
  font-family: "Inter", sans-serif;
  font-weight: bold;
  color: var(--sidenav-copyright);
  margin-bottom: 3vh;
}

/*-------------------- content ---------------------*/

main {
  flex: 76%;
  overflow-y: scroll;
  height: 100%;
  padding: 20px;
}

article {
  float: left;
  background: var(--card-bg);
  box-shadow: 4px 4px 5px #00000040;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  padding: 23px 67px;
}

.polaroid {
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px 0 10px 0;
}

article h1 {
  font-style: normal;
  font-weight: bold;
  color: var(--card-text);
  margin: 23px 0 32px 0;
}

article p {
  font-style: normal;
  font-weight: normal;
  color: var(--card-text);
}

/*--------------------- switch -----------------------*/
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;

  width: clamp(50px, 6.5vw, 94px);
  height: clamp(28px, 3.7vw, 53px);
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  display: flex;
  align-items: center;
  position: absolute;
  cursor: pointer;
  inset: 0 0 0 0;
  border-radius: 34px;
  background-color: #8181856b;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 90%;
  width: 55%;
  border-radius: 50%;
  transition: 0.4s;

  background: #ffffff url(media/svg/clarity_sun-solid.svg) no-repeat center;
  background-size: 50%;
}

input:checked + .slider {
  background-color: var(--main-accent);
}

input:focus + .slider {
  box-shadow: 0 0 1px var(--main-accent);
}

input:checked + .slider:before {
  transform: translateX(80%);
  background-image: url(media/svg/bi_moon-stars-fill.svg);
}

/*--------------------- queries -----------------------*/
/* transition to mobile layout */
@media (max-width: 870px) {
  body {
    overflow: revert;
  }

  header {
    height: 8%;
  }

  nav {
    flex: none;
    background: var(--sidenav-menu-bg);
    border-radius: 20px;
    width: 91vw;
    margin: 15px auto 0 auto;
    box-shadow: 4px 4px 5px #00000040;
  }

  .menu {
    margin: 5% 0;
  }
  .menu a {
    height: 7.5vh;
  }

  main {
    overflow-y: revert;
    height: revert;
    padding: 0;
  }

  article {
    width: 91vw !important;
    padding: 10px 20px;
    margin: 15px auto 0 auto !important;
    float: none;
  }
  article h1 {
    margin: 15px 0 10px 0;
  }
}
/* For Small widescreens */
@media only screen and (max-width: 85.375em) and (min-width: 56em) {
  header h1 {
    font-size: clamp(13px, 2vw, 36px);
  }
  header a {
    font-size: clamp(10px, 1.2vw, 24px);
  }

  .menu a {
    font-size: clamp(12px, 1vw, 17px);
  }
  nav footer {
    font-size: clamp(11px, 0.9vw, 16px);
  }

  article h1 {
    font-size: clamp(24px, 2.5vw, 48px);
  }
  article p {
    font-size: clamp(13px, 1.1vw, 19px);
    line-height: clamp(19px, 1vw, 24px);
  }
  .switch {
    width: clamp(50px, 5vw, 94px);
    height: clamp(28px, 3vw, 53px);
  }
}
